.container {
    position: relative;
    width: 800px;
    margin: 10px auto;
}

.imageContainer {
    position: absolute;
    top: 50;
    left: 1000;
    width: 300px;
    height: 600px;
    z-index: 0;

    &.animate {
        .mobileImage {
            transform: translate(-25px, 0);
        }

        .cardImage {
            transform: rotate(30deg) translate(-90px, 65px);
        }
    }

    .mobileImage {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 10;
        border-radius: 47px;
        transition: transform 0.8s ease-in 2s;
    }

    .cardImage {
        position: absolute;
        bottom: 0;
        right: -35px;
        z-index: 20;
        transform-origin: right bottom;
        border-radius: 31px;
        transition: transform 0.8s ease-in 2s;
    }
}
