body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button{
  padding: .4rem 1.2rem;
  margin: 1rem;
}

.container {
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    background-color: antiquewhite;
    height: 100vh;
}
